:root {
  --border-color: rgb(197, 192, 192);
}

main {
  display: flex;
  flex-direction: row;
  width: 1024px;
}

.nav {
  width: 200px;
  position: sticky;
  margin-right: 50px;
}

.navbar_logo {
  border-radius: 10px;
  border: 2px solid var(--border-color);
  font-size: 24px;
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_menu {
  border-radius: 10px;
  border: 2px solid var(--border-color);
}

.navbar_menu ul {
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.navbar_menu li {
  list-style: none;
  font-size: 24px;
  padding: 12px 0px;
}

.chart {
  width: 100%;
}

.up_chart {
  padding: 0px;
  margin-bottom: 20px;
}

.chart_menu {
  border-radius: 10px 10px 0px 0px;
  border: 2px solid var(--border-color);
  width: 100%;
}

.chart_menu ul {
  display: flex;
  flex-direction: rows;
  justify-content: space-between;
  padding: 8px 12px;
}

.chart_menu li {
  list-style: none;
}

.chart_body {
  border-radius: 0px 0px 10px 10px;
  border: 2px solid var(--border-color);
  width: 100%;
  height: 500px;
  margin-top: -2px;
}

.down_chart {
  border-radius: 10px;
  border: 2px solid var(--border-color);
  width: 100%;
  height: 500px;
  margin-top: 40px;
}


footer {
  border-top: 1px solid #e5e5e5;
  line-height: 1;
  padding-bottom: 40px;
}
footer.noline {
  margin-top: 0;
  border: none;
}

.footer_content {
  position: relative;
  width: 1080px;
  padding-top: 40px;
  margin: 0 auto;
}
.footer_content .copyright {
  margin-top: 17px;
  color: #888888;
  text-align: left;
  font-size: 12px;
}

.footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer_menu a {
  display: inline-block;
  position: relative;
  padding-left: 9px;
  margin-left: 8px;
  color: #222222;
  font-size: 14px;
  font-weight: bold;
}
.footer_menu a:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 11px;
  top: 50%;
  margin-top: -5px;
  left: 0px;
  background: #bfbfbf;
}
.footer_menu a:first-child {
  padding: 0;
  margin-left: 0;
}
.footer_menu a:first-child:before {
  content: normal;
}

.fc_etc {
  margin-top: 24px;
}
.fc_etc .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.fc_etc .txt:first-child {
  margin-top: 0;
}
.fc_etc .txt span {
  display: block;
  color: #888888;
  font-size: 13px;
  font-weight: 400;
}
.fc_etc .txt span:before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 7px;
  margin: 0 5px 0 6px;
  background: url("/images/f_dash.png") no-repeat left top;
  vertical-align: 1px;
}
.fc_etc .txt span:first-child:before {
  content: normal;
}

footer .sh_go {
  position: absolute;
  top: 27px;
  right: 0px;
}

